

<div id="content" class="page-wrap">
		<div class="container content-wrapper">
			<div class="row">
				<article class="page hentry">
					<header class="entry-header">
					</br>
					</br>
					</br>
					<h4>Thanks for visiting our survey page!</h4>
					</header>
					<div class="entry-content">

					<!-- this area is for typing in the questions-->
<%= form_tag('/surveyresponds') do -%>




<br>
<%= label_tag(:q, "What is your role in the company?\n") %>
<br>
<%= select_tag(:typeRole, options_for_select([['CEO/BoardMember', 1],['Management', 2],['Operations Management(Technical/Marketing)', 3],['Operations Team member(Technical/Marketing)', 4], ['Other', 5]])) %>

<br>
<br>
<%= label_tag(:q, "Is there a team of professionals in your organization who take critical decisions that severely impact the company's strategy or business??\n") %>
<br>
<%= radio_button_tag(:IsThere, "IsThereYes") %>
<%= label_tag(:IsThere_Yes, "Yes") %>
<%= radio_button_tag(:IsThere, "IsThereNo") %>
<%= label_tag(:IsThere_No, "No") %>

<br>
<br>
<%= label_tag(:q, "If yes are you a part of the team?\n") %>
<br>
<%= radio_button_tag(:AreYou, "AreyouYes") %>
<%= label_tag(:AreyouYes, "Yes") %>
<%= radio_button_tag(:AreYou, "AreyouNo") %>
<%= label_tag(:AreyouNo, "No") %>

<br>
<br>
<%= label_tag(:q, "Do you agree that professional teams often do not understand all the team member's viewpoints while taking a decision?\n") %>
<br>
<%= radio_button_tag(:AwareCLear, "ClearAwareYes") %>
<%= label_tag(:ClearAwareYes, "Yes") %>
<%= radio_button_tag(:AwareCLear, "ClearAwareMaybe") %>
<%= label_tag(:ClearAwareMaybe, "Maybe") %>
<%= radio_button_tag(:AwareCLear, "ClearAwareNo") %>
<%= label_tag(:ClearAwareYes, "No") %>

<br>
<br>

<%= label_tag(:q, "Have you ever felt slightly uncertain about your team's decison?\n") %>
<br>
<%= radio_button_tag(:Certain, "CertainYes") %>
<%= label_tag(:CertainYes, "Yes") %>
<%= radio_button_tag(:Certain, "CertainMaybe") %>
<%= label_tag(:CertainMaybe, "Maybe") %>
<%= radio_button_tag(:Certain, "CertainNo") %>
<%= label_tag(:CertainNo, "No") %>

<br>
<br>
<%= label_tag(:q, "Do you agree that a lot of teams lack in consensus and alighment in their decion making?\n") %>
<br>
<%= radio_button_tag(:Vision, "VisionYes") %>
<%= label_tag(:VisionYes, "Yes") %>
<%= radio_button_tag(:Vision, "VisionMaybe") %>
<%= label_tag(:VisionMaybe, "Maybe") %>
<%= radio_button_tag(:Vision, "VisionNo") %>
<%= label_tag(:VisionNo, "No") %>






<br>
<br>
<%= label_tag(:q, " Do you agree that team members often find it hard to resolve discrepencies/disagreements when taking team decision?\n") %>
<br>
<%= radio_button_tag(:Discrepencies, "DiscrepenciesYes") %>
<%= label_tag(:DiscrepenciesYes, "Yes") %>
<%= radio_button_tag(:Discrepencies, "DiscrepenciesMaybe") %>
<%= label_tag(:DiscrepenciesMaybe, "Maybe") %>
<%= radio_button_tag(:Discrepencies, "DiscrepenciesNo") %>
<%= label_tag(:DiscrepenciesNo, "No") %>


<br>
<br>
<%= label_tag(:q, " Do you agree that it is sometimes difficult to organize team meetings due to the non-availability of some important members?\n") %>
<br>
<%= radio_button_tag(:Parallel, "ParallelYes") %>
<%= label_tag(:ParallelYes, "Yes") %>
<%= radio_button_tag(:Parallel, "ParallelMaybe") %>
<%= label_tag(:ParallelMaybe, "Maybe") %>
<%= radio_button_tag(:Parallel, "ParallelNo") %>
<%= label_tag(:ParallelNo, "No") %>


<br>
	<!-- area for defining the last question -->
  <div name="last question">
		<h5 style="color:black"><p>Do you want to submit the survey and want to know more about DeciPro?</p></h5>
    <%= submit_tag 'Yes, I want to know more about DeciPro' %>
    <%= submit_tag 'No, I just want to submit the Survey' %>
  </br>
  </div>

<% end -%>
					</div><!-- entry-content -->
				</article><!-- #post-## -->
 		  </div>
 	 </div>
</div><!-- #content -->
