<p id="notice"><%= notice %></p>

<p>
  <strong>Info1:</strong>
  <%= @surveyrespond.info1 %>
</p>

<p>
  <strong>Info2:</strong>
  <%= @surveyrespond.info2 %>
</p>

<p>
  <strong>Arepros:</strong>
  <%= @surveyrespond.arepros %>
</p>

<p>
  <strong>Areyou:</strong>
  <%= @surveyrespond.areyou %>
</p>

<p>
  <strong>Transparent:</strong>
  <%= @surveyrespond.transparent %>
</p>

<p>
  <strong>Remote:</strong>
  <%= @surveyrespond.remote %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @surveyrespond.alignment %>
</p>

<p>
  <strong>Faster:</strong>
  <%= @surveyrespond.faster %>
</p>

<p>
  <strong>Cheaper:</strong>
  <%= @surveyrespond.cheaper %>
</p>

<p>
  <strong>Discre:</strong>
  <%= @surveyrespond.discre %>
</p>

<%= link_to 'Edit', edit_surveyrespond_path(@surveyrespond) %> |
<%= link_to 'Back', surveyresponds_path %>
