<!DOCTYPE html>
<html>
<head>
  <title>Deciprosurvey</title>

  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true, :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="outer-div">

  <div class = "image">
  <%= image_tag "decipro.png", alt: "Decipro" %>
  </div>
  <h1>Survey</h1>
  </header>
<%= yield %>

</body>
</html>
